    <table cellspacing=10 cellpadding=5 style="position:relative; top: 20%; left: 30%; border: 1px solid black; border-radius: 30px; background: beige; width:500px;">
        <tr>
            <td colspan=2 align=center style="font-size:12pt; font-weight:bold">У вас нет прав на выполнение данной операции!<BR>
        </tr>
        <tr>
            <td colspan=2 align=center><a href="javascript: history.go(-1)"><img src="~/applybutton.png">ОК</a>
            </td>
        </tr>
    </table>
